@import "variables.scss";

body {
  background-color: $color-background;
  font-family: $font-primary;
  color: $color-text;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  color: $color-heading;
}

a {
  color: $color-link;
}

nav {
  background-color: $color-nav-background;
  a {
    padding: $padding-nav;
    color: $color-nav;
    text-decoration: none;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}